body{
    background-color: grey;
}
#ping-pong{
        border: 3px solid orange;
        position: absolute;
        margin :auto;
        top:0;
        right:0;
        left:0;
        bottom:0;
}

